version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    groups:
      github-actions-dependency:
        applies-to: version-updates
        patterns:
          - "*"
    target-branch: "main"
  - package-ecosystem: "pip"
    directory: "/model-conversion"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    target-branch: "main"
