# Security scan workflow

# This workflow is triggered on schedule, workflow_dispatch, and pushes to main and release branches and:
# - scans GitHub Actions workflows for security issues (Zizmor)
# - performs static security analysis of Python code (Bandit)
# - scans for vulnerabilities, secrets, and misconfigurations (Trivy)

name: "Security scan"

on:
  schedule:
    # Run security checks every day at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - releases/**

permissions: {} # No permissions by default

jobs:
  zizmor-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run Zizmor scan
        uses: open-edge-platform/geti-ci/actions/zizmor@829f7148f9f70bd4ffbb367f7374d78c32aef2a2
        with:
          scan-scope: "all"
          severity-level: "LOW"
          confidence-level: "LOW"
          fail-on-findings: false # reports only
          output-format: "plain" # Use plain text output format to omit uploading code scanning results to Security tab

  bandit-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run Bandit scan
        uses: open-edge-platform/geti-ci/actions/bandit@829f7148f9f70bd4ffbb367f7374d78c32aef2a2
        with:
          scan-scope: "all"
          severity-level: "LOW"
          confidence-level: "LOW"
          fail-on-findings: false # reports only
          output-format: "txt" # Use plain text output format to omit uploading code scanning results to Security tab

  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run Trivy scan
        id: trivy
        uses: open-edge-platform/geti-ci/actions/trivy@829f7148f9f70bd4ffbb367f7374d78c32aef2a2
        with:
          scan_type: "fs"
          scan-scope: all
          severity: "LOW"
          scanners: "vuln,secret,config"
          format: "table" # Use plain text output format to omit uploading code scanning results to Security tab
          timeout: "15m"
          ignore_unfixed: "true"
